body{

	font-family: 'Noto Sans', sans-serif;
	background-color:		#F0F8FF;
}
.herounit{
	padding-top: 125px;
}
.navigation{

}

.navigation li {
	display: inline;
	text-decoration:none;
	/*padding-right: 10px;*/

}

.navigation a{
	text-decoration:none;
	color: white;
	font-size: 20px;
	padding: 20Px;
	/*float: right;*/
	border-bottom: 2px solid  #000000;
}

.navigation  a:hover{
	text-decoration: underline;
	color: red;
}

.navigation a:after{
 	content: '|';
 	padding: 0 2px;
 	color: #e3e3e3;
}

.button {
	background-color: #ff4d4d;
	padding: 10px;
	float: right;
	color: black;
}

.grid_4 a{
	text-decoration:none;
}

.button:hover{
	color: white;
	text-decoration-line: underline;
}

header{
	font-family: 'Kaushan Script', cursive;
	overflow: hidden;
	border-bottom: 2px solid 	#000000;
	position: fixed;
}

.container_12{
	width: 960px;
	margin: auto;

}

h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;

}

.course{
text-align: center;
}

.herounit{
	margin-right: 70px;
}

.grid_4{
	background-color: #ff4d4d;
	border-bottom: 2px solid 	#000000;
}


.grid_6{
	background-color: #e3e3e3;
	border-bottom: 2px solid 	#000000;
}

h3{
	border-bottom: 2px solid 	#000000;
}

.footer{
	background-color:#99aa14;
}

.icons{
display: inline;
}

.icons i{

padding-right: 70px;

}